.header{
    color: white;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    display: inline;
    margin-left: 15px;
    color: white
}